@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 520px;
  margin: 40px auto;
  overflow: auto;
  min-height: 560px;
  border: 1px solid black;
  padding: 40px;
  border-radius: 4px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.btn {
  display: inline-block;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  margin: 4px;
  font-size: 16px;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: hsl(0, 0%, 90%);
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 4px solid hsl(158, 64%, 52%);
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}